.table{
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  
}
.frame {
  width: 100%;
  height: 400px;
}

.frame2 {
  width: 100%;
  height: 400px;
  margin-left: 95px;
  /* display: none; */
}

.active2:active .frame2 {
  display: block;
}

.date {
  font-size: 20px;
  padding-top: 46px;
  float: left;
}

.date .time {
  float: left;
}

.cards {
  margin: 4px, 4px;
  padding: 4px;
  width: 249px;
  height: 168px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}

.card {
  width: 200px;
  height: 54px;
}

.card-selected {
  background-color: #0b6283;
}

.card:hover {
  border-style: solid;
  border-color: #707070;
  border-width: thin;  
}

.card1 {
  border: solid;
  width: 200px;
  height: 54px;
  margin-top: 20px;
  border-width: thin;
}

.b:hover {
  background-color: #0b6283;
  color: white;
}

.card2 {
  border: solid;
  width: 200px;
  height: 54px;
  margin-top: 20px;
  border-width: thin;
}

.b {
  text-align: center;
}

.cards {
  float: right;
}

.time {
  padding-top: 46px;
  font-size: 20px;
  float: left;
  margin-left: 108px;
}

.table-container {
  border: solid;
  border-width: thin;
  width: 796px;
  height: 220px;
  margin-top: 17px;
}

.table-container .table {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 16%);
  grid-auto-columns: repeat(auto-fill, 50px);
  width: 100%;
}
