
.table{
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  
}
.frame {
  width: 100%;
  height: 400px;

}

.frame {
  width: 100%;
  height: 400px;
}

.date {
  font-size: 20px;
  padding-top: 46px;
  float: left;
}

.cards {
  margin: 4px, 4px;
  padding: 4px;
  width: 249px;
  height: 168px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}

.date-card {
  width: 200px;
  height: 54px;
}

.date-card:hover {
  border-style: solid;
  border-color: #707070;
  border-width: thin;
}

.card-selected {
  background-color: #0b6283;
}

.time {
  padding-top: 46px;
  font-size: 20px;
  float: left;
  margin-left: 108px;
}

.table-container {
  border: solid;
  border-width: thin;
  width: 796px;
  height: 220px;
  margin-top: 17px;
}

.table-container .table {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, 16%);
  grid-auto-columns: repeat(auto-fill, 50px);
  width: 100%;
}

.slot {
  margin-top : 5%;
  margin-bottom : 5%;
  margin-left : 5%;
  margin-right : 5%;
  justify-content: space-around;
}

.slot1 {
  margin-top : 5%;
  margin-bottom : 5%;
  margin-left : 5%;
  margin-right : 5%;
  justify-content: space-around;
}

.divide {
  margin-bottom : 2.5%;
}

.bott{
  margin-left : 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2.5%;
  border: none;
  border-radius: 2rem;
  background-color: #0b6283;
  height: 3rem;
  flex-grow: 2;
  margin-right: 0.5rem;
  color: #ecf9ff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: ease;
  transition-duration: 0.1s;
}

.bott:visited{
  background-color:red;
}

.delete {
  margin-top : 5%;
  margin-bottom : 5%;
  margin-left : 5%;
  margin-right : 5%;
  justify-content: space-around;
}

