/* .txt{
    margin-top: 2em;
} */
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 6px #88888830;
      /* width: 150%; */
/* margin-left: 344px; */
/* margin-top: 22px;
  } */

/* li {
    float: left;
    padding: 0px 85px;
  
  }
  
  li .a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */

/* .a:hover{
      border-bottom: 3px solid;
    border-bottom-color:#00e3ff;
  }
  
 */

/* .menu{
    margin-left: 87px;
    width: 85%;
  } */
.frame {
  width: 100%;
  height: 400px;
}

.frame2 {
  width: 100%;
  height: 400px;
  margin-left: 95px;
  /* display: none; */
}

.active2:active .frame2 {
  display: block;
}

.date {
  font-size: 20px;
  padding-top: 46px;
  float: left;
}

.date .time {
  float: left;
}

.cards {
  margin: 4px, 4px;
  padding: 4px;
  width: 249px;
  height: 168px;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}

.card {
  width: 200px;
  height: 54px;
}

.card-selected {
  background-color: #0b6283;
}

.card:hover {
  border-style: solid;
  border-color: #707070;
  border-width: thin;  
}

.card1 {
  border: solid;
  width: 200px;
  height: 54px;
  margin-top: 20px;
  border-width: thin;
}
.b:hover {
  background-color: #0b6283;
  color: white;
}
.card2 {
  border: solid;
  width: 200px;
  height: 54px;
  margin-top: 20px;
  border-width: thin;
}
.b {
  text-align: center;
}
.cards {
  float: right;
}
.time {
  padding-top: 46px;
  font-size: 20px;
  float: left;
  margin-left: 108px;
}
.table {
  border: solid;
  border-width: thin;
  width: 229%;
  height: 220px;
  margin-top: 17px;
}
