.expansion-area {
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayed-out {
    display: none;    
}

.main-page .param {
    margin-bottom: 20px;
    padding-bottom: 0;
}

.main-page .param .filter-criteria {
    display: inline-block;
    width: 100%;
    text-align: center;
}