@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');

.Expert-Card {
    width:  max-content;
    margin: 3% 9%;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem #00000d;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    transition: ease;
    transition-duration: 0.5s;
    color: #707070;
    /* float: right; */

}
.details{
    display: none;
}

.EC-details {
    width: 75%;
}

.Expert-Card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1.5rem #00000d;
}

.Expert-Card .info {
    padding: 2%;
    width: 100%;
    background-color: #ecf9ff;
    border-radius: 1rem;
    text-align: center;
    font-weight: 100;
}

.EC-details .info{
    width: 30%;
}

.Expert-Card .info img {
    border-radius: 50%;
    width: 80%; 
    border: 0.1rem solid #0b6283;
}

.Expert-Card .info button {
    border: none;
    border-radius: 2rem;
    background-color: #0b6283;
    height: 3rem;
    width: 80%;
    color: white;
    font-size: 1.2  rem;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.1s;
}

.Expert-Card .info button:hover {
    transform: scale(1.05);
}

.Expert-Card .details {
    width: 70%;
    padding: 2%;
}

.Expert-Card .duration button{
    height: 2rem;
    width: 4rem;
}

.Expert-Card .duration-input{

    /* position: absolute; */
    left: 50%;
    top: 50%;
    display: table;
}
  
.Expert-Card .duration-input input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
}
  
.Expert-Card .duration-input label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color:#707070;
    /* padding: 5px 10px; */
    /* border-radius: 3px; */
    box-shadow: 0 0 0.5rem #0d0d0d;
    height: 2rem;
    width: 9rem;
    /* padding: 1rem; */
}

.Expert-Card .duration-input label span {
    padding: 0.5rem;
}

.Expert-Card .duration-input label span:nth-child(2) {
    background-color: #0b6283;
    color: white;
    /* height: 2rem; */
    display: inline-block;
    border-right: solid #0b6283 0.3rem;
}
.Expert-Card .slots {
    height: 10rem;

}

.Expert-Card .duration-input input[type="radio"]:checked + label {
    background-color: #0b6283;
    color: white;
}

.Expert-Card .slots-input::-webkit-scrollbar-track, .date-input::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.Expert-Card .slots-input::-webkit-scrollbar, .date-input::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.Expert-Card .slots-input::-webkit-scrollbar-thumb, .date-input::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

.Expert-Card .slots .input {
    display: flex;
    justify-content: space-between;
}

.Expert-Card .slots-input{
    left: 50%;
    top: 50%;
    width: 50%;
    height: 5rem;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
    /* box-shadow: 0 0 0.5rem #0d0d0d; */
}

.Expert-Card /* .slots-input::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}    */
  
.Expert-Card .slots-input input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
}
  
.Expert-Card .slots-input label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color:#707070;
    /* box-shadow: 0 0 0.5rem #0d0d0d; */
    border: solid #0b6283 0.01rem;
    height: 1rem;
    width: 40%;
    margin: 1.3%;
    padding: 0.15rem;
    /* padding-top: 1rem; */
    font-size: 0.8rem;
}

.Expert-Card .slots-input label:nth-child(odd) {
    float: left;
}

.Expert-Card .slots-input label:nth-child(even) {
    float: right;
}

.Expert-Card .slots-input input[type="radio"]:checked + label{
    background-color: #0b6283;
    color: white;
}

.Expert-Card .date-input{
    left: 50%;
    top: 50%;
    width: 25%;
    height: 5rem;
    overflow: scroll;
    overflow-x: hidden;
    padding: 1rem;
    float: right;
}
  
.Expert-Card .date-input input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
}
  
.Expert-Card .date-input label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color:#707070;
    /* box-shadow: 0 0 0.5rem #0d0d0d; */
    height: 1rem;
    width: 10%;
    /* margin: 1.3%;
    padding: 0.15rem;
    padding-top: 1rem;
    font-size: 0.8rem; */
}

.Expert-Card .date-input input[type="radio"]:checked + label{
    background-color: #0b6283;
    color: white;
}
