@import url("https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap");

.Expert-Card, .EC-details {
  width: initial;
  margin: 5% 10%;
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  transition: ease;
  transition-duration: 0.5s;
  color: #707070;
}

.Expert-Card:hover {
  box-shadow: 0 0 1.5rem #00000d;
}

.Expert-Card .info {
  padding: 1%;
  width: 100%;
  background-color: #ecf9ff;
  border-radius: 1rem;
  text-align: center;
  font-weight: 100;
}

.Expert-Card .info .Expert-avatar {
  border-radius: 50%;
  border: 0.1rem solid #0b6283;
}

.Expert-Card .Expert-info {
  margin-top: 2%;
}

.Expert-Card .info .btn-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
}

.Expert-Card .info .btn-container .book-slot-btn {
  border: none;
  border-radius: 2rem;
  background-color: #0b6283;
  height: 3rem;
  flex-grow: 2;
  margin-right: 0.5rem;
  color: #ecf9ff;
  font-size: 1.2 rem;
  cursor: pointer;
  transition: ease;
  transition-duration: 0.1s;
}

.Expert-Card .info .btn-container .fav-btn {
  border: none;
  background-color: #ecf9ff;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.Expert-Card .info .btn-container .fav-btn:focus {
  outline: none;
}

.Expert-Card .info .btn-container .fav-btn .cls-1-uncheck {
  fill: #65c3ba;
}

.Expert-Card .info .btn-container .fav-btn .cls-1-check {
  fill: #ef3054;
}

.Expert-Card .info .btn-container .fav-btn .cls-2 {
  fill: #ffffff;
}

.Expert-Card .info .book-slot-btn:hover {
  transform: scale(1.01);
}

.Expert-Card .info .fav-btn:hover {
  transform: scale(1.05);
}

.EC-details {
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
}

.EC-details .info {
  flex: 1;
}

.EC-details .details {
  flex: 2;
  padding: 2%;
}

.EC-details .details .close-btn {
  background-color: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.EC-details .duration {
  margin-bottom: 1.75rem;
}

.EC-details .duration .duration-btn-container {
  width: 100%;
  height: 2.5rem;
  display: flex;
}

.EC-details .duration .duration-btn-container .duration-btn {
  margin-right: 8rem;
  border: 1px solid black;
  padding: 0 1rem;
  color: inherit;
  background-color: white;
  cursor: pointer;
}

.EC-details .duration .duration-btn-container .btn-selected {
  background-color: #0b6283;
  color: #ecf9ff;
}

.EC-details .duration .duration-btn-container button:focus {
  outline: none;
}

.EC-details .duration .duration-btn-container .duration-btn span:nth-child(2) {
  display: inline-block;
  margin: 0 1rem;  
}


.EC-details .slots {
  height: 10rem;
}

.EC-details .slots-input::-webkit-scrollbar-track,
.EC-details .date-input::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

.EC-details .slots-input::-webkit-scrollbar,
.EC-details .date-input::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.EC-details .slots-input::-webkit-scrollbar-thumb,
.date-input::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

.EC-details .slots-input {
  left: 50%;
  top: 50%;
  width: 50%;
  height: 5rem;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
}

.EC-details .slots-input label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #707070;
  border: solid #0b6283 0.01rem;
  height: 1.5rem;
  width: 40%;
  margin: 1.3%;
  padding: 0.15rem;
  font-size: 0.8rem;
}

.EC-details .slots-input label:nth-child(odd) {
  float: left;
}

.EC-details .slots-input label:nth-child(even) {
  float: right;
}

.EC-details .slots-input .slot-selected {
  background-color: #0b6283;
  color: #ecf9ff;
}

.EC-details .date-input {
  left: 50%;
  top: 50%;
  width: 25%;
  height: 5rem;
  overflow: scroll;
  overflow-x: hidden;
  padding: 1rem;
  float: right;
}

.EC-details .date-input label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #707070;
  height: 1rem;
  width: 10%;
}