footer {
  background: #121212;
  width: 100%;
  height: 12rem;
  padding-top: 3rem;
  color: rgb(184, 184, 184);
  position: absolute;
  bottom: 0;
  left: 0;
}

footer .social-media {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin: auto;
}

footer .social-media a {
  color: rgb(184, 184, 184);
}

footer .tos {
  width: 15rem;
  margin: 2rem auto;
  text-align: center;
}