@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


body {
    line-height: 1.7em;
    /* background-color: #f7f7f7; */
    font-family: 'Roboto', sans-serif;
}
  
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    text-decoration: none;
    border: none;
}
  
.login {
    display: flex;
    justify-content: space-around;
    margin: 10% 5%;
    margin-bottom: 0;
}

.login .image {
    width: 40%;
}

.login .image img {
    width: 90%;
}

.login .form {
    width: 35%;
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem #666666;
    padding: 5% 0;
    transition: ease;
    transition-duration: 0.3s;
}

.login .form:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem #666666;
}

.login .form form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.login .form h1 {
    font-size: 2.5rem;
    /* margin-bottom: 3rem; */
    letter-spacing: 1 rem;
    font-size: 3rem;
    font-weight: 300;
    color: #1f1f1f;
}

.login .form input {
    border: none;
    margin: 2rem;
    font-size: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem;
    border-bottom: gray solid 0.1rem;
    /* background-color: #f7f7f7; */
}

/* .form #password{
    margin-bottom: 5rem;
} */

.login button {
    background-color: #0b6283;
    color: white;
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.1s;
    font-size: 1.5rem;
    margin: auto;
}

.login button:hover {
    transform: scale(1.05);
}