.thank-you {
  margin: 2%;
}

.menubar-nav {
  margin: 40px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 75%;
  font-size: 1rem;
}

.menubar-menu {
  margin: auto;
  width: 85%;
  justify-content: space-around;
  display: flex;
}

.menubar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.menubar-menu li {
  margin-left: -9%;
  display: inline-block;
  width: 150px;
}

.menubar-link {
  display: block;
  color: inherit;
  text-align: center;
  border-bottom: 2px solid #fff;
  padding: 14px 16px;
  text-decoration: none !important;
  
}

.menubar-link:hover {
  border-bottom: 2px solid #0b6283;
  cursor: pointer;
  color: inherit;
}
