
.menu txt {

    margin-top: 2em;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 6px #88888830;
  /* width: 150%; */
  /* margin-left: 344px; */
  margin-top: 22px;

  margin: -23px 98px 3px 83px;

}

.menu li {
  float: left;
  padding: 0px 63px;
}

.menu li .a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width:150px
}

.menu .a:hover{
  border-bottom: 3px solid;
border-bottom-color:#00e3ff;
}

.menu .active{
  border-bottom: 3px solid;
  border-bottom-color:#00e3ff;
}


  .menu {
    margin:auto ;
    width: 85%;
    justify-content: space-around;
  }

  .navbar-light {
    background-color : rgba(255, 255, 255, 0.89);
}

.nav1 {
  box-shadow: 0 0 0.5rem #00000d;
  }

