.videodiv .video-btn {
    border: none;
    background-color:#65c3ba;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 50px;  
  }
  .videodiv .video-btn:focus {
    outline: none;
  }
  .videodiv .video-btn:hover {
    transform: scale(1.05);
  }

  .videodiv {
    background:white;
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    color: rgb(184, 184, 184);
  }
  