#navbar {
  /* position: fixed; */
  background-color: #0b6283;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#navbar .logo img {
  height: 4.5rem;
  width: auto;
  margin: 1.5rem 1rem 1rem 2rem;
  padding: 1rem;
}

#navbar .list-wrap {
  display: flex;
  margin-right: 2rem;
}

#navbar .list-wrap .nav-item {
  display: block;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 2rem;
  text-align: center;
}

#navbar .list-wrap .nav-item:hover {
  color: #21d5cf;
}

#navbar .user-icon-container {
  margin-right: 28px;
  margin-top: -12px;
}

#navbar .fa {  
  height: 86px;
  box-shadow: none;
  margin-right: -3px;
  color: white;
  font-size: 1.75rem;
  margin-right: 17px;
  padding-left: 21px;
  padding-top: 25px;
}

#navbar .user-icon-container:hover {
  background-color: white;
}

#navbar .user-icon-container:hover path {
  color: #0b6283;
}

#navbar .user-icon-container:hover .dropdown-content {
  display: block;
}

#navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -95px;
}

#navbar .dropdown-content .nav-item {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 10px 10px;
  cursor: pointer;
}

#navbar .dropdown-content .nav-item:hover {
  background-color: #0b6283;
  color: #fff;
}
/* .fa:hover .dropdown-content {
  display: block;
  background-color: #0b6283;
  color: #fff;
} */

/* .dropdown-content .fa {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} */
