.thank-you {
  margin: 2%;
}

.profile-details {
  margin-left: 88px;
  margin-top: 33px;
  margin-bottom: 62px;
  display: flex;
}

.profile-details .profile-pic {
  display: inline-block;
  position: relative;
  width: fit-content;
  margin-right: 158px;
}

.profile-details .profile-information {
    display: flex;
    flex-direction: column;
}

.chart {
  text-align: center;
}

.chart1 {
  display: inline-block;
}

.details2 {
  background-color: #0b6283;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
}

.div1 {
  color: antiquewhite;
  font-size: large;
  width: fit-content;
  top: 0px;
  left: 0px;
  margin-top: 10%;
  margin-left: 10%;
}

.div2 {
  color: antiquewhite;
  font-size: large;
  width: fit-content;
  top: 0px;
  left: 0px;
  margin-top: 15%;
  margin-left: 15%;
}

.about {
  float: left;
  margin-right: 70px;
}

.txt1 {
  box-shadow: -3px 0px 6px #88888830;
  padding: 23px 29px;
}

.img {
  margin-top: -22px;
  margin-right: -24px;
}
