.user-card-container {
  position: relative;
  margin: 0 auto;
  width: 24rem;
  border: 1px solid black;
  border-radius: 21px;
  text-align: center;
  box-shadow: 0 5px 6px #000000;
  margin-bottom: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.user-card-container svg {
  position: absolute;
  left: 0;
  z-index: -1;
}

.user-card-container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-card-container .user-name {
  font-size: 1.25rem;
  color: #707070;
  margin: 0 1rem;
}

.user-card-container .slot-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.4rem;
  font-size: 1.25rem;
}

.user-card-container .btn-panel {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  width: 100%;
  margin-bottom: 1.4rem;
}

.user-card-container .btn-panel .btn {
  border: none;
  border-radius: 2rem;
  height: 3rem;
  color: #f9eaea;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.user-card-container .btn-panel .btn-success {
  background-color: #0b6283;
}

.user-card-container .btn-panel .btn-approve {
  background-color: rgb(25, 133, 25);
}

.user-card-container .btn-panel .btn-reject {
  background-color: rgb(202, 42, 42);
}
